@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;  
  --text: 34 40 49;    
  --border: 148 137 121; 
  --card: 220 216 219;  
  --accent: 249 109 0;  
  --accentlight: 219 85 0;  
  --red: 200 40 40;     
}

.dark {
  --background: 30 40 49;
  --text: 223 208 184;
  --border: 148 137 121;
  --card: 57 62 70;
  --accent: 249 109 0;
  --accentlight: 275 125 0;
  --red: 255 80 80;
}
